* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Markazi Text', serif;
    font-size: 16px;
    margin: 3rem 5%;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

header>img {
    display: block;
    margin: 3rem auto;
    height: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

nav li a {
    /* color: #B53434; */
    color: #26877F;
    text-decoration: none;
    font-size: 1.5rem;
}

li a:hover {
    background-color: white;
    padding: 10px;
    color: #B53434;
    border-radius: 2px;
}

/* main + footer {
    background-color: rgb(168 234 242);
    border-radius: 3px;
    padding: 2.5rem;
} */

section {
    display: flex;
    /* background-color: aliceblue; */
    /* border: 2px solid white; */
}

article {
    /* flex: 1; */
    margin: 1rem 0;
}

article h1 {
    color: #B53434;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

article p {
    /* padding-right: .5rem; */
    color: #26877F;
}

.secondsection .two {
    margin-left: 3rem;
    margin-right: .5rem;
    text-align: center;
    /* overflow: hidden; */
}

.secondsection h2 {
    color: #B53434;
    margin-bottom: 0.5rem;
}

.secondsection img {
    height: 13rem;
}

footer {
    display: flex;
    margin-top: 2rem;
}

footer div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #26877F;
    font-size: 1.5rem;
}

footer img {
    height: 5rem;
    /* filter: saturate(72)brightness(53) hue-rotate(175deg)  
    filter: drop-shadow(10 0 #B53434) */
}

footer div {
    color: #B53434;
}

.name:hover {
    font-weight: bold;
    /* cursor: pointer; */
    color: #B53434;
}